@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@400;700&family=Nunito:wght@600&family=Roboto:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    font-family: 'Battambang', cursive;
}
 /* navbar */
nav{
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;

}
nav ul{
    display: flex;
}
nav ul .nav-item, .nav-link{
    margin-left: 10px;
    color: #000;
}
nav ul .nav-item .active{
    color: blue;
    border-bottom: 3px solid blue;
}
/* banner */
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    height: 60vh;
    width: 100%;
    background: #eee;
    color: #fff;
    background-image: url(../images/banner-home.webp);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.5rem;
}
.btn{
    width: 126px;
    height: 40px;
    background: blue;
    color: #fff;
    border-radius: 11px;
    text-align: center;
}
.btn:hover{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.btn a{
    line-height: 2.5rem;
    color: #fff;
}
/* row col */
.row{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}
.col3{
    background: #eee;
    width: 30%;
    height: 30vh;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col4{
    cursor: pointer;
}
.col4:hover{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.row .col4 .images-project{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row .col4 .images-experiences{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row .col4{
    flex-wrap: wrap;
    width: 38%;
    height: 50vh;
    padding: 20px;
    margin: 10px;
    background: #eee;
    display: flex;
    justify-content: center;

}
.row .col6{
    width: 90%;
}
.touch:hover{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
}
.row .col6 .images{
    width: 500px;
    height: 500px;
    border-radius: 50%;
}
.row .col6 .images-banner{
    width: 90%;
    height: 50vh;
}
/* Catatgory */
.strong1,.strong2{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: blue;
    margin-top: 0.8rem;
    cursor: pointer;
}
.strong1{
    clip-path: polygon(92% 0, 100% 50%, 92% 100%, 0% 100%, 0 46%, 0 0);
}
.strong2{
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 10% 47%, 0 0);
}


@media (max-width:768px){
    nav{
        width: 100%;
    }
    /* banner */
    .banner h1{
        font-size:  1.5rem;;
    }
    .banner p{
        font-size: 0.9rem;
    }

    /* row col */
    .row{
        flex-wrap: wrap;
    }
    .row .col3{
        width: 40%;
    }
   .row .col4{
       width: 40%;
       
   }
   .row .col6 h1{
       font-size: 0.9rem;
   }
   .reverse{
    flex-wrap: wrap-reverse;
    }
}
@media(max-width:428px){
    /* navbar */
    nav{
        height: 15vh;
    }
    nav ul{
        display: block;
    }
    /* banner */
    .banner{
        height: 50vh;
        font-size: 0.9rem;
    }
    .btn{
        width: 100px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    /* row col */
    .row{
        width: 100%;
    }
    .row .col4{
        height: 80vh;
        width: 100%;
    }
    .row .col6 {
        font-size: 0.5rem;
        background: #eee;
    }
    .row .col6 .images{
        width: 250px;
        height: 250px;
    }
    .row .col6 .images-banner{
        width: 100%;
    }
    .row .col3{
        width: 100%;
    }
    .reverse{
        flex-wrap: wrap-reverse;
    }
}